Flask==1.1.2

GitPython==3.1.17

google-play-scraper==0.2.1


json5==0.9.5

matplotlib @ file:///C:/ci/matplotlib-base_1592837548929/work

nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work

numpy==1.20.3

pandas @ file:///C:/ci/pandas_1592833613419/work





scikit-learn @ file:///C:/ci/scikit-learn_1592853510272/work

seaborn==0.10.1



streamlit==0.82.0

textblob==0.15.3



vaderSentiment==3.3.2