matplotlib~=3.4.2



google-play-scraper==0.2.1


json5==0.9.5



numpy==1.20.3



seaborn==0.10.1



streamlit~=0.62.1

textblob==0.15.3



vaderSentiment==3.3.2
nltk~=3.6.2
pandas~=1.2.4
wordcloud~=1.8.1